# Основные зависимости
python-dotenv==1.0.1
loguru==0.7.2
pydantic==2.8.2
pydantic-settings==2.10.1
numpy<2.0

# Асинхронный фреймворк для Telegram
aiogram==3.10.0

# LangChain и его компоненты
langchain==0.3.26
langchain-community==0.3.26
langchain-openai==0.3.25
openai==1.91.0

# Векторное хранилище
faiss-cpu==1.8.0

# Извлечение текста
pypdf==4.3.1
python-docx==1.1.2
PyMuPDF==1.24.8

# Работа с Google Drive
PyDrive2==1.17.0
google-api-python-client==2.136.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0

# Зависимости для Google Auth, которые могут потребовать явного указания
# Были проблемы с pyOpenSSL, фиксируем рабочую версию
cryptography==41.0.7
pyOpenSSL==23.3.0
